{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                        <span>Dashboard</span>
                        <a class="d-flex align-items-center text-muted" href="{% url 'dashboard' %}">
                            <span data-feather="monitor"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
                                <span data-feather="home"></span>
                                Home        <!-- User's Current Stock Shares -->
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">
                                <span data-feather="bar-chart-2"></span>
                                Index       <!-- Latest 5 Years SPY Index Data -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'buy' %}active{% endif %}" href="{% url 'buy' %}">
                                <span data-feather="plus-square"></span>
                                Buy       <!-- Buy Stocks -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'sell' %}active{% endif %}" href="{% url 'sell' %}">
                                <span data-feather="minus-square"></span>
                                Sell       <!-- Sell Stocks -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'portfolio_performance' %}active{% endif %}" href="{% url 'portfolio_performance' %}">
                                <span data-feather="folder"></span>
                                Portfolio       <!-- Portfolio Performance -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'historical_data_owned' %}active{% endif %}" href="{% url 'historical_data_owned' %}">
                                <span data-feather="database"></span>
                                Historical Data       <!-- Historical Data Owned -->
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'graph_selection' %}active{% endif %}" href="{% url 'graph_selection' %}">
                                <span data-feather="database"></span>
                                Generate Graph      
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Account</span>
                        <a class="d-flex align-items-center text-muted" href="{% url 'dashboard' %}">
                            <span data-feather="user"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'edit_user_profile' %}">
                                <span data-feather="edit"></span>
                                Edit Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'administrator_register' %}">
                                <span data-feather="user-plus"></span>
                                Register As Administrator
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Administrator</span>
                        <a class="d-flex align-items-center text-muted" href="{% url 'dashboard' %}">
                            <span data-feather="users"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'administrator_list_all_stocks' %}">
                                <span data-feather="list"></span>
                                List All Stocks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'administrator_risk_analysis' %}">
                                <span data-feather="activity"></span>
                                Risk Analysis
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'administrator_market_orders_summary' %}">
                                <span data-feather="clipboard"></span>
                                Market Orders Summary
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Market Orders Summary</h1>
                </div>
                {% if orders %}
                <table class="table table-light" style="width: 100%; border-collapse: collapse;">
                    <thead class="thead-light">
                        <tr>
                            <th>User</th>
                            <th>Symbol</th>
                            <th>Shares Bought</th>
                            <th>Shares Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ order.User }}</td>
                            <td>{{ order.Symbol }}</td>
                            <td>{{ order.SharesBought }}</td>
                            <td>{{ order.SharesSold }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                {% else %}
                <p>No market orders found for today. Please check back later or verify the data source.</p>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}